<!--<div class="btn-toolbar btn-group pull-right">-->
    <!--<a class="btn btn-small btn-primary" href="https://github.com/angular-ui/bootstrap/tree/gh-pages">-->
        <!--<i class="icon-download-alt icon-white"></i> Download <small>(123)</small>-->
    <!--</a>-->
<!--</div>-->
<!--<div class="margin: 10px;"></div>-->
<!--<ul class="nav pull-right bs-docs-social-buttons">-->
    <!--<li>-->
        <!--<iframe src="http://ghbtns.com/github-btn.html?user=angular-ui&repo=bootstrap&type=watch&count=true"-->
                <!--allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>-->
    <!--</li>-->
<!--</ul>-->